+b('Error404')
  display: flex
  flex-direction: column
  flex-grow: 1
  position: relative

  +e('Noise')
    flex-grow: 1
    width: 100%
    background-color: $color-darkgrey

  +e('Title')
    width: 100%
    text-align: center
    text-transform: uppercase
    margin: 0
    font-size: 7vw
    letter-spacing: 3px
    +absolute-center()
    color: $color-white
    mix-blend-mode: overlay
    text-shadow: 0 0 10px rgba($color-white, 0.9)
