+b('Rating')
  +e('Box')
    width: 106px
    position: relative

  +e('Current')
    display: flex
    overflow: hidden
    position: absolute
    top: 0
    left: 0

  +e('Star')
    stroke: $color-blue
    flex-shrink: 0

    &:not(:last-of-type)
      margin-right: 4px

    +m('filled')
      fill: $color-blue
      stroke: $color-blue

