+b('CardList')
  display: flex
  flex-direction: column
  overflow: hidden

  +e('List')
    display: flex
    flex-wrap: wrap
    margin-right: -.4rem
    margin-left: -.4rem

  +e('Item')
    width: 33.3333333%
    margin: 0 0.4rem
